<!-- templates/agency-detail.html -->
{% extends 'base.html' %}

{% block title %} | Council Insights | {{ agency.agency_name }}{% endblock %}

{% block content %}
<!-- Page navigation -->
<nav><a href="{% url 'home' %}">Home</a> > <a href="{% url 'council:index' %}">Council Insights</a></nav>

<!-- Agency name for page heading -->
<h2>{{ agency.agency_name }}</h2>
<hr></hr>
<!-- List departments -->
{% if agency.departments.all.exists %}
    <ul>
        {% for department in agency.departments.all %}
            <li><a href="{% url 'council:department-detail' department.id %}">{{ department.department_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No departments have been added to this agency yet.</p>
{% endif %}

{% endblock %}