<!-- templates/agency-detail.html -->
{% extends 'base.html' %}

{% block title %} | Council Insights | {{ agency.agency_name }}{% endblock %}

{% block content %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Home" "home" %}
    {% breadcrumb "Council Insights" "council:index" %}
    {% breadcrumb agency "council:agency-detail" agency.id %}
{% endblock %}
{% render_breadcrumbs %}
<!-- Agency name for page heading -->
<h2>{{ agency.agency_name }}</h2>
<hr></hr>
<!-- List departments -->
{% if agency.departments.all.exists %}
    <ul>
        {% for department in agency.departments.all %}
            <li><a href="{% url 'council:department-detail' department.id %}">{{ department.department_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No departments have been added to this agency yet.</p>
{% endif %}

{% endblock %}