<!-- templates/agenda-detail.html -->
{% extends 'base.html' %}

{% load customtags %}

{% block title %} | Council Insights | {{ agenda.department.agency.agency_name }} | {{ agenda.department.department_name }} | {{ agenda.agenda_date|date:"m/d/y" }} Agenda Detail{% endblock %}

{% block content %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "My Practice" "home" %}
    {% breadcrumb "Council Insights" "council:index" %}
    {% breadcrumb agenda.department.agency "council:agency-detail" agenda.department.agency.id %}
    {% breadcrumb agenda.department "council:department-detail" agenda.department.id %}
    {% breadcrumb agenda "council:agenda-detail" agenda.id %}
{% endblock %}
{% render_breadcrumbs %}

<!-- Agenda date and title for page heading -->
<h2>{{ agenda.agenda_date|date:"m/d/y" }} {{ agenda.agenda_title }}</h2>

<hr></hr>

<!-- Highlights -->
<div id="highlights" class="card border-light mb-3">
    <h5 class="card-header">Highlights
        <small class="mt-1 text-muted" style="float: right;"><a href="{% url 'council:highlight' agenda.id %}">Generate Highlights</a></small>
    </h5>
    <div class="card-body">
    {% if highlight_task_id %}
        {% load static %}
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
        <div class='progress' style="height: 20px;">
            <div id='highlight-progress-bar' class='progress-bar progress-bar-striped progress-bar-animated' style="width: 0%;">&nbsp;</div>
        </div>
        <div id="highlight-progress-message">Preparing to generate highlights...</div>
        <div id="highlight-celery-result"></div>
        <script>
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            function customProgress(progressBarElement, progressBarMessageElement, progress) {
                progressBarElement.style.backgroundColor = '#68a9ef';
                if (progress.description != undefined) {
                    progressBarElement.style.width = progress.percent + "%";
                    var description = progress.description;
                    progressBarMessageElement.innerHTML = description;
                }
            }
            function customSuccess(progressBarElement, progressBarMessageElement) {
                progressBarElement.style.backgroundColor = '#76ce60';
                progressBarElement.style.width = "100%";
                progressBarMessageElement.innerHTML = "Complete. Refreshing highlight display...";
                
            }
            function customError(progressBarElement, progressBarMessageElement) {
                progressBarElement.style.backgroundColor = '#dc4f63';
                progressBarMessageElement.innerHTML = "A problem was encountered while trying to generate highlights.";
            }
            async function customResult(resultElement, result) {
                await sleep(3000);
                window.location.replace("{% url 'council:agenda-detail' agenda.id %}");
            }
            document.addEventListener("DOMContentLoaded", function () {
                var progressUrl = "{% url 'celery_progress:task_status' highlight_task_id %}";
                CeleryProgressBar.initProgressBar(
                    progressUrl,
                    {
                        progressBarId: 'highlight-progress-bar',
                        progressBarMessageId: 'highlight-progress-message',
                        resultElementId: 'highlight-celery-result',
                        onProgress: customProgress,
                        onSuccess: customSuccess,
                        onError: customError,
                        onResult: customResult
                    });
            });
        </script>
    {% else %}
        {% if agenda.highlights.all %}
            <ul>
            {% for highlight in agenda.highlights.all|order_by:"start" %}
                <li><a href="#{{ highlight.id }}">{{ agenda.agenda_text|hl_slice:highlight|truncatechars:500 }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            There are no highlights for this document based on current keyphrases, or highlights have not yet been generated.
        {% endif %}
    {% endif %}
    </div>
</div>

<!-- Agenda Content -->
<div id="agendas" class="card border-light mb-3">
    <h5 class="card-header">Agenda Content
    {% if agenda.pdf_link %}
        <small class="mt-1 text-muted" style="float: right;"><a href="{{ agenda.pdf_link }}" target="_blank">Download PDF</a></small>
    {% endif %}
    </h5>
    <div class="card-body">
    {% if agenda.agenda_text %}
        {% if agenda.highlights.all %}
        <script>
            $(document).ready(function(){
                // Displays highlights if any exist
                {% for highlight in agenda.highlights.all %}
                $( "div.card-body div.mb-3:contains('{{ agenda.agenda_text|hl_slice:highlight }}')" ).css( "background-color", "#FFFF00" ).attr("id", "{{ highlight.id }}");
                {% endfor %}
            });
        </script>
        {% endif %}
        {{ agenda.agenda_text|safe }}
    {% else %}
        {% if convert_task_id %}
            {% load static %}
            <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
            <div class='progress' style="height: 20px;">
                <div id='convert-progress-bar' class='progress-bar progress-bar-striped progress-bar-animated' style="width: 0%;">&nbsp;</div>
            </div>
            <div id="convert-progress-message">Attempting to connect...</div>
            <div id="convert-celery-result"></div>
            <script>
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }
                function customProgress(progressBarElement, progressBarMessageElement, progress) {
                    progressBarElement.style.backgroundColor = '#68a9ef';
                    if (progress.description != undefined) {
                        progressBarElement.style.width = progress.percent + "%";
                        var description = progress.description;
                        progressBarMessageElement.innerHTML = description;
                    }
                }
                function customSuccess(progressBarElement, progressBarMessageElement) {
                    progressBarElement.style.backgroundColor = '#76ce60';
                    progressBarElement.style.width = "100%";
                    progressBarMessageElement.innerHTML = "Complete. Refreshing agenda content...";
                    
                }
                function customError(progressBarElement, progressBarMessageElement) {
                    progressBarElement.style.backgroundColor = '#dc4f63';
                    progressBarMessageElement.innerHTML = "Unable to convert PDF. An exception was raised during the conversion process.";
                }
                async function customResult(resultElement, result) {
                    await sleep(3000);
                    window.location.replace("{% url 'council:agenda-detail' agenda.id %}");
                }
                document.addEventListener("DOMContentLoaded", function () {
                    var progressUrl = "{% url 'celery_progress:task_status' convert_task_id %}";
                    CeleryProgressBar.initProgressBar(
                        progressUrl,
                        {
                            progressBarId: 'convert-progress-bar',
                            progressBarMessageId: 'convert-progress-message',
                            resultElementId: 'convert-celery-result',
                            onProgress: customProgress,
                            onSuccess: customSuccess,
                            onError: customError,
                            onResult: customResult
                        });
                });
            </script>
        {% else %}
            <p>Agenda text has not yet been generated. Click <a href="{% url 'council:convert-pdf' agenda.id %}">here</a>
                to convert the agenda PDF into text. Note: this may take a few minutes</p>
        {% endif %}
    {% endif %}
    </div>
</div>

{% endblock %}