<!-- templates/department-detail.html -->
{% extends 'base.html' %}

{% block title %} | Council Insights | {{ department.agency.agency_name }} 
    | {{ department.department_name }}{% endblock %}

{% block content %}
<!-- Page navigation -->
<nav><a href="{% url 'home' %}">Home</a> > <a href="{% url 'council:index' %}">Council Insights</a> >
    <a href="{% url 'council:agency-detail' department.agency.id %}">{{ department.agency }}</a></nav>

<!-- Department and agency name for page heading -->
<h2>{{ department.department_name }}</h2>
<h4>{{ department.agency.agency_name }}</h4>
<hr></hr>
{% if department.meeting_info %}
    <p>{{ department.meeting_info|linebreaks }}</p>
{% endif %}
{% if department.agendas_url %}
    <p><a href="{{ department.agendas_url }}">Link to Agendas</a></p>
{% endif %}

<!-- List agendas -->
<strong>Agendas:</strong>
{% if department.agendas.all.exists %}
    <ul>
        {% for agenda in department.agendas.all %}
            {{ agenda.get_recent }}
            <li><a href="{% url 'council:agenda-detail' agenda.id %}">{{ agenda.agenda_date|date:"m/d/y" }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No agendas have been added for this department yet.</p>
{% endif %}

{% endblock %}