<!-- templates/department-detail.html -->
{% extends 'base.html' %}

{% block title %} | Council Insights | {{ department.agency.agency_name }} 
    | {{ department.department_name }}{% endblock %}

{% block content %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Home" "home" %}
    {% breadcrumb "Council Insights" "council:index" %}
    {% breadcrumb department.agency "council:agency-detail" department.agency.id %}
    {% breadcrumb department "council:department-detail" department.id %}
{% endblock %}
{% render_breadcrumbs %}

<!-- Department and agency name for page heading -->
<h2>{{ department.agency.agency_name }} - {{ department.department_name }}</h2>

<hr></hr>

{% if department.meeting_info %}
    <p>{{ department.meeting_info|linebreaks }}</p>
{% endif %}

{% if department.agendas_url %}
    <p><a class="btn btn-primary" href="{{ department.agendas_url }}" role="button" target="_blank">City Website</a>
        <a class="btn btn-danger" href="{% url 'council:fetch-agendas' department.id %}" role="button">Fetch New Agendas</a></p>
{% endif %}

<!-- List agendas -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<strong>Stored Agendas:</strong>
{% if department.agendas.all.exists %}
    <ul>
        {% for agenda in department.agendas.all %}
            {% if agenda.active %}
            <li><a href="{% url 'council:agenda-detail' agenda.id %}">
                {{ agenda.agenda_date|date:"m/d/y" }} {{ agenda.agenda_title }}</a>
                {% if agenda.is_new %}<span class="badge badge-primary">New</span>{% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No agendas have been added for this department yet.</p>
{% endif %}

{% endblock %}