<!-- templates/detail.html -->
{% extends 'base.html' %}

{% block title %} - Project Detail{% endblock %}

{% load breadcrumbs text_formats %}

{% block content %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "My Practice" "home" %}
    {% breadcrumb "Projects" "projects:index" %}
    {% breadcrumb project.project_name project.id %}
{% endblock %}
{% render_breadcrumbs %}

<!-- Project Title -->
<h2>{{ project.project_name }}</h2>
<hr></hr>

<!-- Project Details -->
<div class="row">
    <div class="col-sm-6">
        <div class="card border-light mb-3">
            <h5 class="card-header">Project Data</h5>
            <div class="card-body">
                <strong>Location:</strong> {{ project.project_location }}<br>
                <strong>Project Number:</strong> {{ project.project_number }}<br>
                <strong>Project Manager: </strong> {{ project.project_manager }}<br>
                <strong>Client: </strong> {{ project.client_name }}<br>
                <strong>Client Contact: </strong> {{ project.client_contact }}<br>
                <strong>Client Phone: </strong> {{ project.client_phone|phone }}<br>
                <strong>Client Email: </strong> {{ project.client_email }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-light mb-3">
            <h5 class="card-header">Design & Construction</h5>
            <div class="card-body">
                <strong>Design Start:</strong> {{ project.des_start_date|date:"F d, Y" }}<br>
                <strong>Design End:</strong> {{ project.des_end_date|date:"F d, Y" }}<br>
                <strong>Design Fee:</strong> {{ project.des_fee|currency }}<br>
                <strong>Construction Start:</strong> {{ project.con_start_date|date:"F d, Y" }}<br>
                <strong>Construction End:</strong> {{ project.con_end_date|date:"F d, Y" }}<br>
                <strong>Construction Cost:</strong> {{ project.con_cost|currency }}
            </div>
        </div>
    </div>
</div>

<!-- Project Writeup Section -->
{% with project.writeups.all as writeups %}
    {% if writeups %}
    <div class="card border-light mb-3">
        <h5 class="card-header">Project Writeups</h5>
        <div class="card-body">
            {% for writeup in writeups %}
            <p>{% if writeup.focus %}<span class="badge badge-danger">{{ writeup.focus }}</span></p>{% endif %}
            <p>{{ writeup.project_writeup|linebreaks }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endwith %}
{% endblock %}