<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}My Practice - Projects{% endblock %}

{% block content %}
<p><a href="{% url 'home' %}">Home</a></p>
<h2>Projects</h2>
{% if project_list %}
    <table>
        <tr>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Client Name</th>
        </tr>
        {% for project in project_list %}
        <tr>
            <td><a href="{% url 'projects:detail' project.id %}">{{ project.project_name }}</a></td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date }}</td>
            <td>{{ project.client_name }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No projects have been added.</p>
{% endif %}
{% endblock %}