<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <title>My Practice{% block title %}{% endblock %}</title>
</head>
<body>
  <main>
    <div class="container mt-3">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
<footer>
  {% if user.is_authenticated %}
    <div class="container text-muted">
      <hr></hr>
      <p><a href="{% url 'logout' %}">Logout</a> | 
      <a href="{% url 'admin:index' %}">Admin</a></p>
    </div>
  {% endif %}
</footer>
</html>