<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h2>My Practice</h2>
{% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'projects:index' %}">Projects</a></li>
        <li>People</li>
        <li>Meetings</li>
        <li>Council Insights</li>
        <li>Continuing Education</li>
    </ul>
    <p><a href="{% url 'logout' %}">Logout</a> | 
    <a href="{% url 'admin:index' %}">Admin</a></p>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}