<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h2>My Practice</h2>
<hr></hr>
{% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'projects:index' %}">Projects</a></li>
        <li>People</li>
        <li>Meetings</li>
        <li><a href="{% url 'council:index' %}">Council Insights</a></li>
        <li>Work Planner</li>
        <li>Continuing Education</li>
    </ul>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}